.main_video {
  height: 540px;
  width: 960px;
  background-color: black;
  margin-left: calc(50% - 480px);
  margin-right: calc(50% - 480px);
  box-shadow: 0px 1px 4px black;

  top: 50px;
  position: fixed;
  display: block;
}

.menu_box {
  margin: 0px;
  width: 100%;
  height: 50px;
  background-color: grey;
  box-shadow: 0px 1px 3px black;

  left: 0px;
  top: 0px;
  display: block;
  position: fixed;
}

.main_article {
  margin-top: 640px;
  padding: 30px;
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px grey;
}

.main_article ul li {
  cursor: pointer;
}

.main_article h1 {
  cursor: pointer;
}

.menu_item {
  height: 50px;
  width: 100px;
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.menu_item span {
  top: 15px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  position: absolute;
}

.menu_item:hover {
  background-color: #333;
}

.bar_box {
  width: 300px;
  height: 50px;
  top: 0px;
  display: inline-block;
}

.progress_box,
.seek_box {
  height: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.progress_box {
  top: 23px;
  width: 280px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
}

.seek_box {
  top: 0px;
  width: 0px;
  margin: 0px;
  background-color: white;
}
